.right-side-form{
    background-color: whitesmoke;
    padding-top: 20px;
}
.form-container{
    background-color: white;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 80px;
    border-radius: 12px;
    padding-bottom: 40px;
}
.form-group{
    margin-bottom: 30px;
}
.signup-form{
    border: none;
    background-color:#F7F7F7;
    padding: 10px;
}
label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
      font-size: 12px;
}
.form-control{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.sign-up-header{
    font-weight: 700;
  
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    font-size: 24px;
}
.btn-signUp{
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    width:100%;
}

.signup-nav{
    font-weight: bolder;
}
.query{
    color:rgb(80, 71, 71) ;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.hideOnDesktop{
    display: none;
}
.hideBoldText{
    margin-top: 50px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 18px;
    line-height: 30px;
    padding-right: 30px;
}
.hideLightText{
  
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    font-size: 10px;
    color: lightgrey;
}
.form-logo-on-mobile{
    height: 36px;
    width: 100px;
}
.error_message{
    font-size: 12px;
    color: red;
}
.flag{
    display: flex;
    flex-direction: row;
    background-color:#EDEDED;
   
    align-items: center;
    padding-right: 10px;
    font-size: 11px;
}
.country-options{
    font-size: 12px;
}
.flag-img{
    height: 15px;
    width: 15px;
}
.select-country{
    width: 300px;
}
.alert-danger,.alert-success{
    font-size: 12px;
}
.forgot_pwd{
    font-size: 13px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width:560px) {
    label{
        font-size: 12px;
    }
    .form-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .signup-form{
        font-size: 12px;
    }
    .query{
        font-size: 10px;
    }
    .right-side-form{
        background-image: url('../../../assets/background3.jpg');
        opacity: 0.97;
        height: 900px;
    }
    .hideOnDesktop{
        display: block;
    }
    .alert-danger{
        font-size: 11px;
    }
}

@media screen and (min-width:561px) and (max-width:800px){
    /* .form-container{
        padding-right: 0px;
    } */

    
}