.side-banner{
    color: white;
    height: 900px;
    padding-top: 50px;
    padding-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 100px;
    overflow: hidden;
    background-image: url('../../../assets/background3.jpg');
    background-repeat: no-repeat;
}
/* .side-overlay{
  
    width: inherit;
    height: inherit;
    
    background-color: #000000;
 

    padding-top: 50px;
    padding-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
} */
.side-text{
    margin-top: 100px;
    margin-bottom: 200px;
    max-width: 500px;
}
.logo{
    width: 100px;
    height: 30px;
}
.side-light-text{
    font-weight: 400;
    margin-top: 0px;
    font-size: 14px;
    color: lightgrey;
}
