.side-banner-container{
    height: fit-content;
}
.form-background-overlay{
    height: inherit;
}

@media screen and (max-width:560px){
    .side-banner-container{
        display: none;
    }
    .side-form-container{
        /* background-image: url('../../../assets/background3.jpg'); */
        height: 900px;

    }
    .hideOnDesktop{
        display: block;
    }
}