.banner2-container{
    background-image: url('../../../../assets/background2.png');
    height: 507px;
    color: lightgrey;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}
.overlay2{
   /* background-image: linear-gradient(to bottom left, black,black,black, transparent);
   padding-bottom: 50px; */
   height: inherit;
   width: inherit;
}
body{
    margin: 0;
}
/* .banner-text{
     padding-left: 70px; 
} */
.bold-text-2{
    font-family:'Playfair Display', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
    
    
    padding-top: 100px;
  
    
}
.light-text-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 20px;
}
.trial{
    margin-top: 40px;
}


@media screen and (max-width:500px) {
    .banner2-container{
        height: fit-content;
        padding-bottom: 20px;
        
    }
    .banner-text{
        padding-left: 30px;
        text-align: left;
    }
    .bold-text-2{
        font-size: 25px;
        padding-top: 0px;
    }
    .light-text-2{
        
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;

    }
    .trail{
        margin-top: 25px;
    }
    .hideOnMobile{
        display: none;
    }
}