.add{
    margin-right: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.list-title{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.list-details{
    font-size:13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}