.footer-container{
    background-color: black;
    color: whitesmoke;
    padding-bottom: 40px;
    margin-top: 40px;
}
.footer-btn{
    
    background-color: whitesmoke;
}
.footer-row{
    padding-top: 40px;
}
.divider{
  
    margin-top: 30px;
    margin-bottom: 10px;
}
.footer-logo{
    width: 140px;
    height: 100px;
}
.footer-text{
    font-size: 10px;
    line-height: 20px;
}
.footer-text-1{
    margin-top: -30px;
}
.footer-light-text{
    font-size: 13px;
    width: 500px;
}

@media screen and (max-width:700px) {
    .footer-btn{
        font-size: 7px;
    }
}