#what-we-offer,  .who-we-are{
    color: rgb(65, 57, 57);
   margin-bottom: 30px;
   margin-top: 30px;
   font-family: 'Playfair Display', serif;
}
body{
    background-color: whitesmoke;
}
.tab{
    margin-bottom: 20px;
}


@media screen and (max-width:700px) {
    #what-we-offer, .who-we-are{
        
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}